@import "colors.less";



#files{
  overflow-y: scroll;
  padding:30px !important;


  .deleteIcon{
    position: absolute;
    right: 24px;
    font-size: 24px;
    color:@tintColorFiles;
    top: 8px;
    cursor:pointer;
  }

  .thumb{
    .thumbnail{
      img{
        cursor:pointer;
      }
    }
    .filenameInplaceEdit{
      font-size:18px;
      color:@tintColorFiles;
      margin-top:5px;
    }
    h4{
      font-size:18px;
      color:@tintColorFiles;
    }
  }

  .thumbAdd{
    color:@tintColorFiles;
    color: #0078f2;
    border: 1px solid rgba(0, 120, 242, 0.33);
    border-radius: 6px;
    cursor:pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    div{
      font-size: 160px;
      text-align: center;
    }
    h4{
      text-align: center;
    }
    &:hover{
      border: 1px solid rgba(0, 120, 242, 1);
      transition: all 1s;
      -webkit-transition: all 1s;
    }
  }

  .editorLogin{
    white-space: nowrap;
    width: auto !important;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px !important;
    margin-left:20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    cursor:pointer;
    border-radius:1px;
    &:hover{
      box-shadow: 0 2px 5px 0 @googleBlue;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .googleIcon{
      width:20px;
      height:20px;
      display: inline-block;
    }
    .googleText{
      display: inline-block;
      font-size: 18px;
      vertical-align: top;
      color: rgba(0,0,0,0.6);
    }
  }


}